# Игнорировать файлы .DS_Store, создаваемые macOS
.DS_Store

# Игнорировать другие временные файлы и каталоги
# Например, вы можете добавить следующие строки, если они актуальны для вашего проекта:
# node_modules/
# *.log
# .env
# dist/
# build/