@font-face {
    font-family: 'JetBrains';
    src: url('./fonts/JetBrainsMono-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: auto;
    background-color: #282A36;
    color: #F8F8F2;
    font-family: JetBrains, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.content {
    display: flex;
}

.info {
    width: 60%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 2.5em;
    color: #66D9EF;
}

p {
    font-size: 1em;
    color: #F8F8F2;
}

.link {
    color: #FF79C6;
    text-decoration: none;
    margin-right: 2px;
}

.link:hover {
    color: #FF79C6;
    text-decoration: underline;
}

.link:visited {
    color: #FF79C6;
}

footer {
    margin: 100px 0 0 0;
    line-height: 40px;
    font-size: 0.9em;
}

.main-paragraph {
    margin-bottom: 20px;
}

@media (max-width: 430px) {
    .gif {
        display: none; 
    }
    .info {
        padding: 20px; 
        width: 100%;
    }
}